@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Roboto+Condensed,wght@1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
::-webkit-scrollbar {
  width: 0.35rem;
  height: 0.35rem;
  border-radius: 10px;
}
::-webkit-scrollbar-track-piece {
  background: #ffffff;
}
::-webkit-scrollbar-button {
  background: #aca19d;
  height: 10px;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #1b7460;
  height: 20px;
  border-radius: 10px;
}

​ body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.div_span12_fieldgroup {
  @apply grid md:grid-cols-12 md:gap-2 gap-1 md:h-[6vh] h-auto items-center rounded-md;
}
.txt_span6 {
  @apply md:col-span-6 col-span-12 text-center h-full py-0.38  lg:text-lg md:text-base text-sm bg-deep-3 px-2 outline-none rounded border focus:border-tl-2;
}
.lbl_span3 {
  @apply md:col-span-4 col-span-12 flex items-center font-sans md:ps-2 rounded border md:border-tl-2 h-full lg:text-lg md:text-base text-sm;
}
.txt_stl {
  @apply text-center h-full py-0.38 lg:text-lg md:text-base text-sm bg-deep-3 px-2 outline-none rounded border focus:border-tl-2;
}


.err_span3 {
  @apply col-span-3 flex items-center ps-2 text-red-700 h-full;
}
.div_span8_fieldgroup {
  @apply grid grid-cols-8  gap-2 h-[5vh] items-center rounded-md;
}
.nav_drop_down {
  @apply block absolute z-10 top-[45px]   right-[20px] w-15.0 h-auto border rounded-md bg-wh border-yellow-600;
}
.bg_sl_1 {
  @apply bg-slate-100;
}

.icon_sm {
  @apply w-5 h-5 text-slate-500;
}

.enhanced_title {
  @apply text-1.5/2 font-bold text-teal-700;
}

.tr_tbody {
  @apply text-black  font-normal text-0.9/1.25 text-center  capitalize;
}
.tr_thead {
  @apply text-sl/600 font-medium text-0.75/1 capitalize;
}
.th {
  @apply px-0.25 py-0.25;
}
.td {
  @apply px-0.25 py-0.25;
}
.brdr {
  @apply border border-red-600;
}
.brdt {
  @apply border border-teal-600;
}
.brdb {
  @apply border border-black;
}
.profile_drop_down {
  @apply block absolute z-20 top-2.5  right-[20px] border rounded-md bg-tl-1 border-pr/400;
}
.nav_drop_down {
  @apply block absolute z-10 top-[50%] left-[50%]    border rounded-md bg-green-200 border-yellow-600;
}
